* {
    margin: 0;
    padding: 0;
}
#contextmenu {
    min-width: 100px;
    position: fixed;
    border: 1px solid #d58512;
    background: rgba(255, 153,0,.3);
    display: none;
    list-style: none;
    z-index: 99999;
}
#contextmenu li {
    padding: 5px;
    cursor: pointer;
}
#contextmenu li:hover {
    background: white;
}

#box .fileBox {
    padding: 20px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    float: left;
    position: relative;
}
.fileBox .fileImage {
    background: url('../images/file.png') 0px -5px no-repeat #ffffff;
    width: 64px;
    height: 70px;
}
.fileBox .checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid #3091f2;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.fileBox .checkboxed {
    width: 10px;
    height: 10px;
    border: 1px solid #3091f2;
    background: #3091f2;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    color: white;
}
.fileBox .fileName {
    text-align: center;
    font-size: 12px;
}

.fileBox:hover, .fileBoxSelected {
    padding: 20px;
    width: 70px;
    height: 70px;
    background: #e9f3fd;
    border: solid 1px #c3d8f0;
    float: left;
    position: relative;
}
.fileBox:hover .checkbox, .fileBoxSelected .checkbox {
    display: block;
}
